github "robbiehanson/CocoaAsyncSocket" 
github "CocoaLumberjack/CocoaLumberjack"
github "lexrus/MMDB-Swift"
github "zhuhaow/Sodium-framework"
github "behrang/YamlSwift"
github "zhuhaow/tun2socks" ~> 0.6.0
github "zhuhaow/Resolver" ~> 0.1.3
