github "robbiehanson/CocoaAsyncSocket" ~> 7.6.2
github "CocoaLumberjack/CocoaLumberjack" ~> 3.2.1
github "lexrus/MMDB-Swift" "0.2.8"
github "AlfredCN/Sodium-framework" "1.0"
github "AlfredCN/YamlSwift" "3.2.0"
github "zhuhaow/tun2socks" ~> 0.6.0
github "zhuhaow/Resolver" ~> 0.1.3
